<div>

    <p class="tituloComoHacemos">
        ¿Cómo lo hacemos? <br />
    </p>
    <div class="text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right" style="font-size: 22px; color: #fe5858"></i>
                    Desarrollamos nuestros proyectos a traves de la metodología SCRUM, una de las mejores de las metodologias "agiles" en el desarrollo de Software.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right" style="font-size: 22px;  color: #fe5858"></i>
                    Nos focalizamos en el analisis detallado y la mejora continua.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right" style="font-size: 22px; color: #fe5858"></i>
                    Cada cliente es único y por eso, brindamos trato personalizamos para lograr nuestros objetivos.
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right" style="font-size: 22px;  color: #fe5858"></i>
                    Comunicación constante con el cliente en todas las etapas del dedsarrollo, optimizando el resultado final.
                </span>
            </div>
        </div>
    </div>

   
</div>

<div class="row">
    <div class="col-lg-2 col-lg-offset-1">
        
        <div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px; float: left; margin-right: 2px;">
            Estudio <br />
            preliminar <br />
        </div>
        
    </div>
    <div class="col-lg-1">
        <i class="glyphicon glyphicon-share-alt"></i>

    </div>
    <div class="col-lg-2">
        <div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
            Definición <br />
            y <br />
            alcance
        </div>
        

    </div>
    <div class="col-lg-1">
        <i class="glyphicon glyphicon-share-alt"></i>

    </div>

    <div class="col-lg-2">

        <div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
            Definición <br />
            y <br />
            alcance
        </div>
        
    </div>
    <div class="col-lg-1">
        <i class="glyphicon glyphicon-share-alt"></i>

    </div>
    <div class="col-lg-2">

        <div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
            Propuesta <br />
            de <br />
            trabajo
        </div>
    </div>
</div>

<div style="font-size: 80px;">
    1 2 3 4 5 6 7

</div>

@*

<div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
    Análisis <br />del <br /> sistema

</div>
<div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
    Diseño <br />
    y<br />
    Desarrollo

</div>

<div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left; margin-right: 2px;">
    <span style="position: relative; right: 20px;top: 30px;">Implementación</span>
</div>

<div style="border:3px solid; border-radius: 50%; padding: 30px; background-color: #20A0E9; color: white; font-size: 33px; width: 200px; height: 200px;float: left;">
    <span style="position: relative; right: 20px;top: 30px;">Mantenimiento</span>
</div>*@





@*<div id="circulos">
        <p>Siguiendo estos pasos logramos nuestro objetivo</p>
        <div class="circle" id="circles-1"></div>
        <div class="circle" id="circles-2"></div>
        <div class="circle" id="circles-3"></div>
        <div class="circle" id="circles-4"></div>
        <div class="circle" id="circles-5"></div>
    </div>*@

@*<script src="~/Scripts/jquery.appearCircle.js"></script>
    <script src="~/Scripts/circles.js"></script>
    <script>
        $(function () {
            $(".circle").hide();
            appear($("#circulos"));

        });
    </script>*@


<style>

</style>