<div class="sectionHome">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6 cuadroInformacion">
                    <div class="col-md-2 col-md-offset-1 pull-left">
                        <i class="tamano fa fa-users circleBorderImg"></i>
                    </div>
                    <div class="col-md-9">
                        <p>¿Quiénes Somos?</p>
                        <span>
                            Somos una empresa IT de soluciones informáticas formada por jovenes programadores, con experiencia en el desarrollo de software. <br />
                            Brindamos desarrollo y mantenimiento utilizando las últimas tecnologías.
                        </span>
                    </div>
                </div>
                <div class="col-md-6 cuadroInformacion">

                    <div class="col-md-2  pull-left">
                        <i class="tamano fa fa-phone-square circleBorderImg"></i>
                    </div>
                    <div class="col-md-9">
                        <p>Contacto</p>
                        <span>
                            Contactanos y consultanos tus dudas, comentanos tus ideas, y por que no, mejoras.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <div class="col-md-6 cuadroInformacion">

                    <div class="col-md-2 col-md-offset-1 pull-left">
                        <i class="tamano fa fa-globe circleBorderImg"></i>
                    </div>
                    <div class="col-md-9">
                        <p>¿Qué hacemos?</p>
                        <span>
                            Brindamos soluciones IT, realizando desarrollo de software a medida, desarrollo de aplicaciones Web, tanto backend y fontend, diseño web, entre otras.
                        </span>
                    </div>
                </div>
                <div class="col-md-6 cuadroInformacion">

                    <div class="col-md-2  pull-left">
                        <i class="tamano fa fa-wrench circleBorderImg"></i>
                        
                    </div>
                    <div class="col-md-9">
                        <p>¿Cómo lo hacemos?</p>
                        <span>
                            Somos una empresa IT de soluciones informáticas formada por jovenes programadores, con experiencia en el desarrollo de software. <br />
                            Brindamos desarrollo y mantenimiento utilizando las últimas tecnologías.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <div class="col-md-6 cuadroInformacion">

                    <div class="col-md-2 col-md-offset-1 pull-left">
                        <i class="tamano fa fa-money circleBorderImg"></i>
                    </div>
                    <div class="col-md-9">
                        <p>Presupuesto</p>
                        <span>
                            Obtene tu presupuesto en linea y enterate!
                        </span>
                    </div>
                </div>
                <div class="col-md-6 cuadroInformacion">

                    <div class="col-md-2  pull-left">
                        <i class="tamano fa fa-laptop circleBorderImg"></i>
                    </div>
                    <div class="col-md-9">
                        <p>Tenologías</p>
                        <span>
                            Nos exigimos constantemente para adaptarnos a los cambios en la tecnología y de esta manera brindar siempre el mejor servicio. Manejamos una gran variedad de tecnologías.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>