<div class="text-center">
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="font-family: 'Marvel' sans-serif;">

        
        <div class="row">
            <div class="carousel-indicators" @*style="font-family: 'Marvel' sans-serif;"*@>
                <h5 data-target="#carousel-example-generic" style="height: 30px;" data-slide-to="0" class="active"><span>¿Quienes Somos?</span></h5>
                <h5 data-target="#carousel-example-generic" data-slide-to="1"><span>Misión, visión y valores</span></h5>
                <h5 data-target="#carousel-example-generic" data-slide-to="2"><span>Nuestro Personal</span></h5>
            </div>
        </div>

        <!-- Slider Content (Wrapper for slides )-->
        <div class="carousel-inner carrouselQS">

            <div class="item active carrouselA">
                <div class="carousel-caption">
                    <h3 class="tituloCarrousel">
                        ¿Quienes somos?
                    </h3>
                    <p class="cuerpoCarrousel">
                        -Somos es una empresa nueva nacida en 2014, que brinda servicios de desarrollo de software personalizados. <br />
                        Nuestra principal ventaja es que hacemos lo que nos apasiona y por eso trabajamos para superarnos constantemente, de manera proactiva.
                        Contamos con una amplia variedad de servicios para ofrecerte, enterate <i><a href="#">Que hacemos</a></i>.
                    </p>
                </div>
            </div>
            <div class="item carrouselB">
                <div class="carousel-caption">
                    <h3 class="tituloCarrousel">
                        Nuestra visión, misión y valores
                    </h3>

                    <div class="carrouselBContenedor text-left">
                        <div class="col-md-4">
                            <p class="TituloCarrouselParte">
                                Visión
                            </p>
                            <p class="cuerpoCarrouselParte">
                                Crecer y consolidarnos como una de las mejores empresas proveedoras de desarrollo de software.
                                Comprometidos en todo momento con la alta calidad y mejora continua.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="TituloCarrouselParte">
                                Misión
                            </p>
                            <p class="cuerpoCarrouselParte">
                                Realizar el desarrollo y mantenimineto de software de calidad a nuestros clientes
                                logrando la mayor eficacia positble y utilizando las mejores tecnologìas.
                            </p>

                        </div>
                        <div class="col-md-4">
                            <p class="TituloCarrouselParte">
                                Valores
                            </p>
                            <p class="cuerpoCarrouselParte">
                                -Respeto hacia las personas: Valorar a las personas por igual sin ningun tipo de prejuicios. <br />
                                -Mejora continua: Superarnos constantemente tanto en calidad como en servicio.<br />
                                -Integridad: Ser honestos SIEMPRE, sin importa la realidad y/o necesidades.<br />
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="item carrouselC">
                <div class="carousel-caption">
                    <h3 class="tituloCarrousel">
                        Nuestro Personal
                    </h3>
                    <p class="cuerpoCarrousel">
                        Estudios terminados: Tecnico superior en analisis de sistemas.<br />
                        Estudiando Actualmente: Ingenieria en Sistemas en UAI.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


   