<div>
    <p style="font-size: 70px; font-family: 'Marvel' sans-serif; font-weight:bold;">
        Tenocologías
    </p>

    <p style="font-size: 25px;">
        Uno de nuestros valores es la mejora continua y eso nos lleva a siempre trabajar con las ultimas tecnologías.
    </p>

    <div>
        A continuación te dejamos las tecnologias con las que trabajamos:
    </div>

    <div id="circulos">
            <p>Siguiendo estos pasos logramos nuestro objetivo</p>
            <div class="circle" id="circles-1"></div>
            <div class="circle" id="circles-2"></div>
            <div class="circle" id="circles-3"></div>
            <div class="circle" id="circles-4"></div>
            <div class="circle" id="circles-5"></div>
        </div>

    

</div>

@*<script src="~/Scripts/jquery.appearCircle.js"></script>
<script src="~/Scripts/circles.js"></script>
<script>
            $(function () {
                $(".circle").hide();
                appear($("#circulos"));

            });
</script>*@