

$font-size-pagina: 10px;
$letraPagina: Marvel;

.navbar-inverse .navbar-brand:hover
{
    color: #fe5858;

}
.HeaderNombreEmpresa{
font-size:36px; font-family: 'Lato', Calibri, Arial, sans-serif; color: #fe5858; letter-spacing: 0px;
}
body {
    font-family: $letraPagina;
    /*overflow-x: hidden;*/
}

.menuActive {
    border-bottom: 2px solid white;
    color: #fe5858 !important;
}

.body {
    /*padding-top: 66px;*/
    background-color: #EFEEEF;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    font-family: $letraPagina;
    font-size: 17px;
}

.divPrincipal {
    text-align: center;
    margin-bottom: 25px;
}

#presentacion {
    position: relative;
    height: 100vh;
    overflow: auto;
    overflow-y: hidden;
    padding: 60px 0px 30px 0px;
    background-color: white;
}

.Bienvenido {
    padding-bottom: 40px;

    h1 {
        font-size: $font-size-pagina * 6.5;
        font-family: $letraPagina;

        span {
            font-size: $font-size-pagina * 10;
            font-style: italic;
            position: relative;
        }
    }
}

#nombreEmpresa {
    /*font-family: 'Damion', Calibri, Arial, sans-serif;*/
    font-family: 'Lato';
    color: #fe5858;
}

.copete {
    font-size: $font-size-pagina * 2.5;
    color: #20A0EA;
}

.sectionSlider {
    cursor: pointer;
    margin-top: 10px;
    color: #20A0EA;

    a {
        color: #20A0EA;
        position: absolute;
        bottom: 50px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        
        div {
            font-size: 40px;
        }

        .icono {
            font-size: 40px;
        }
    }

    #sliderQuienesSomos {
        z-index: 20;

        a {
            bottom: 25px;
        }
    }
}

.sectionContienePartial {
    
    padding-top: 60px;
    padding-bottom: 25px;
    min-height : 100vh;
    height: auto;
    position: relative;
}

#sectionTecnologias{
    border-top: 1px solid;

}

.sectionComoHacemos{
    border-top: 1px solid;
    padding-top: 60px;
    padding-bottom: 25px;
    min-height : 100vh;
    height: auto;
    position: relative;
    background: url("/Images/pineapplecut.png");

}

.sectionQueHacemos{
    border-top: 1px solid;
    padding-top: 60px;
    padding-bottom: 25px;
    min-height : 100vh;
    height: auto;
    position: relative;
    /*background-color: #242D2C;*/
    background-color: #182431;
    color: #DC3E23;
}

.sectionConBackground {
    border-top: 1px solid;
    min-height : 100vh;
    height: auto;
    background: url(/Images/fly.jpg) 50% 0 fixed;
    position: relative;
}

.sectionContactoBackground{
    background-color:#20A0EA; 
    color: white;
    border-top: 1px solid;
    min-height : 100vh;
    height: auto;
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

#sectionHome {
    padding-top: 70px;

    .sectionHome {
        width: 95%;
        position: relative;
    }
}


/*#sectionQuienesSomos {
    border-top: 1px solid;
}*/

.btnQuienesSomos {
    margin-top: 14px;
    margin-bottom: 5px;
}

.carrouselQS {
    margin-top: 4%;
}

.carrouselA {
    height: 500px;
}



.tituloCarrousel {
    font-family: $letraPagina;
    font-size: $font-size-pagina * 7;
    margin: 30px;
    color: #FE2F2F;
}

.cuerpoCarrousel {
    color: black;
    font-family: $letraPagina;
}

.carrouselB {
    height: 500px;
    overflow-y: auto;
}

.carrouselBContenedor {
    margin-left: 30px;
    margin-right: 30px;
}

.TituloCarrouselParte {
    font-family: $letraPagina;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.cuerpoCarrouselParte {
    color: black;
}

.carrouselC {
    height: 500px;
    font-family: $letraPagina;
}

.titulosSeccion {
    font-size: $font-size-pagina * 7;
    font-family: $letraPagina;
    font-weight: bold;
    color: #20A0EA;
}


.copeteSeccion {
    font-size: $font-size-pagina * 3;
}

.subtituloQueHacemos {
    font-size: $font-size-pagina * 6;
    font-family: $letraPagina;
    margin-top: 20px;
    color: #fe5858;
}

.subtituloQuienesSomos{
    font-size: $font-size-pagina * 5;
    font-family: $letraPagina;
    margin-top: 20px;
    color: #fe5858;
}

.copeteTecnologias {
    font-size: $font-size-pagina * 2.5;

}

.subtituloTecnologias{
    font-size: $font-size-pagina * 4;
    font-family: $letraPagina;
    margin-top: 20px;
    color: #fe5858;
    text-align: center;
}

.imagenQueHacemos {
    width: 150px;
    height: auto;
}

.tecnicaDesarrolloTitulo {
    font-size: 30px;
    margin-top: 22px;
}

.tecnicaDesarrolloItem {
    color: white; 
    font-size: 20px;
    margin-top: 22px;
}

.informacionAdicionalQueHacemos {
    font-size: 22px; 
    font-family: 'Marvel'; 
    font-weight: bold; 
    padding: 10px 30px 15px 30px; 
    color: white; 
    text-align: left;

    .titulo{
        font-size: 30px; 
        color: #20A0EA;
    }
}

.btnQueHacemos {
    margin-top: 64px;
}

.tecnicasQueHacemos {
    /*background-color: #FFF;*/
    color: #1DBB90;
    font-size: 14px;

    .fila {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 4%;
    }
}



.descripcionTecnicaComoHacemos {
    margin-top: 20px;
}

.circle {
    display: inline-block;
    margin: 1em;
}

.circles-decimals {
    font-size: .4em;
}

.btnComoLoHacemos {
    margin-top: 14px;
}

.btnTecnologias {
    margin-top: 40px;
}

.btnContacto {
    margin-top: 90px;
}

.cuadroInformacion {
    font-size: 14px;
    /*background: url(/Images/pineapplecut.png) 0px 0px repeat transparent; zoom: 1;*/
    font-size: 18px;
    padding: 20px 20px 20px 0px;
    text-align: left;
    font-weight: bold;
    color: black;

    i {
        
        /*background-color: #fe5858;*/
    }

    p {
        font-size: 25px;
        font-weight: bold;
    }

    span {
        font-size: 17px;
        letter-spacing: 0.2mm;
    }
}

.cuadroInformacion:hover {
    
    cursor: pointer;
    /*background-color: #e2e1de;*/
    height: inherit;

    p {
        color: #fe5858;
    }

    i {
        color: #fe5858;
    }

}

.separadorEleginos {
    border-top: 1px solid;
    background-color: #61BDF2;
    /*font-family: 'Patua one';*/
    font-family: $letraPagina;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);

    div {
        font-size: $font-size-pagina * 6;
        color: white;
    }

    p {
        font-size: $font-size-pagina * 4;
    }
}


.partialQS {
    margin-top: 20px;
}

.MenuQuienesSmos {
    background-color: #1d2f3e;
    vertical-align: middle;

    a {
        cursor: pointer;

        :hover {
            color: white;
        }
    }
}


.partialQH {
    margin-top: 20px;
}

.separadorEleginos2 {
    background: url(/Images/pineapplecut.png) 0px 0px repeat transparent;
    zoom: 1;
    /*font-family: 'Patua one';*/
    font-family: $letraPagina;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    margin-top: 50px;

    div {
        font-size: 60px;
    }

    p {
        font-size: 40px;
        color: #1DBB90;
    }
}

.partialQH {
}

.glyphicon {
    font-size: 30px;
}

/*IMAGENES ICONOS SEGUND TAMAÑO*/

.tamano {
    font-size: 75px;
}


.footer{
    background-color: #184371;
    min-height: 30vh;
    height: auto;
    padding: 30px;

    #face {    
        color: #FE5858;

        :hover{
            color: black;
            cursor: pointer;
        }
    }


    #tw {    
        color: #FE5858;

        :hover{
            color: black;
            cursor: pointer;
        }
    }

    .menuFooter a:hover{
            color: white;
            text-decoration: none;
    }


}

.footerFinal {
    background-color: #182431;
    min-height: 10vh;
    height: auto;
    padding: 30px;
}   

.footerNombreEmpresa {
    font-family: 'Lato';
    font-style: italic;
    font-size: $font-size-pagina * 3;
    color: white;
    
}

.SSCuerpo {
    height: 120px;
    width: 300px;
    position: relative;
    border: 1px solid #184371;
    border-right: none;
    left: 0;
    float: left;
    overflow: hidden;
    transform: translateX(-300px); /* will be transitioned to 0px */
    transition: transform 0.3s, width 0.3s;
    -webkit-transform: translateX(-300px); /* will be transitioned to 0px */
    -webkit-transition: transform 0.3s, width 0.3s;
    -moz-transform: translateX(-300px); /* will be transitioned to 0px */
    -moztransition: transform 0.3s, width 0.3s;
    -o-transform: translateX(-300px); /* will be transitioned to 0px */
    -o-transition: transform 0.3s, width 0.3s;

    background-color: white;
    padding: 10px;
}

.SSCuerpoOpen {
    float: left;
    height: 120px;
    width: 300px;
    position: relative;
    left: 0;
    border: 1px solid #184371;
    overflow: hidden;
    transform: translateX(0px); /* will be transitioned to 0px */
    transition: transform 0.3s, width 0.3s;
    -webkit-transform: translateX(0px); /* will be transitioned to 0px */
    -webkit-transition: transform 0.3s, width 0.3s;
    -moz-transform: translateX(0px); /* will be transitioned to 0px */
    -moz-transition: transform 0.3s, width 0.3s;
    -o-transform: translateX(0px); /* will be transitioned to 0px */
    -o-transition: transform 0.3s, width 0.3s;
    background-color: white;
    padding: 10px;
}

.AbrirStylwSwitch {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid #184371;
    border-left-color: white;
    position: relative;
    left: 0px;
    top: 20px;
    float: left;
    overflow: hidden;
    transform: translateX(-300px); /* will be transitioned to 0px */
    transition: transform 0.3s, width 0.3s;
    -moz-transform: translateX(-300px); /* will be transitioned to 0px */
    -moz-transition: transform 0.3s, width 0.3s;
    -o-transform: translateX(-300px); /* will be transitioned to 0px */
    -o-transition: transform 0.3s, width 0.3s;
    -webkit-transform: translateX(-300px); /* will be transitioned to 0px */
    -webkit-transition: transform 0.3s, width 0.3s;
    font-size: 25px;
    padding-top: 5px;
    color: #FE5858;
}

.AbrirStylwSwitchOpen {
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    border: 1px solid #184371;
    border-left: 2px solid white;
    float: left;
    top: 20px;
    overflow: hidden;
    /*transform: translateX(100px); /* will be transitioned to 0px */
    transition: transform 0.3s, width 0.3s;
    -o-transition: transform 0.3s, width 0.3s;
    -webkit-transition: transform 0.3s, width 0.3s;
    -moz-transition: transform 0.3s, width 0.3s;
    font-size: 25px;
    padding-top: 5px;
    color: #FE5858;
}

.spinner{
    -webkit-animation: spin 5s infinite linear;
    -moz-animation: spin 5s infinite linear;
    animation: spin 5s infinite linear;
}

.iconoComoHacemosItem {
    font-size: 22px; 
    color: #fe5858;
}



.cbp-so-scroller {
	margin-top: 3em;
	overflow: hidden;
}

.cbp-so-section {
	margin-bottom: 1em;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Sides */
.cbp-so-side {
	width: 45%;
	float: left;
	margin: 0;
	padding: 1em 1%;
	overflow: hidden;
	min-height: 10em;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}



/* Example media queries */
@media screen and (max-width: 1200px) {
	.cbp-so-side>img
    {
        width: 150px;
	}
}

@media screen and (max-width: 1000px) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}

    .cbp-so-side {
		float: none;
		width: 100%;
        text-align: center;
	}

    .cbp-so-side-right {
        text-align: center;

    }

    .cbp-so-side-right img {
        float: none;

    }



    /*.cbp-so-side {
		float: none;
		width: 100%;
        text-align: center;
	}

	.cbp-so-side img {
		max-width: 100%;
        text-align: center;
	}

    .cbp-so-side-right {
        text-align: center;

    }

    .cbp-so-side-right img {
        float: none

    }

    .cbp-so-side-left {
        text-align: center;
    }

    .cbp-so-side-left img {
        float: none

    }*/
}

@media screen and (max-width: 850px) {
	/*.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}*/
    .cbp-so-side {
		float: none;
		width: 100%;
        text-align: center;
	}

	.cbp-so-side img {
		max-width: 100%;
        text-align: center;
	}

    .cbp-so-side-right {
        text-align: center;

    }

    .cbp-so-side-right img {
        float: none

    }

    .cbp-so-side-left {
        text-align: center;
    }

    .cbp-so-side-left img {
        float: none

    }
}

@media screen and (max-width: 620px) {
	.cbp-so-side {
		float: none;
		width: 100%;
        text-align: center;
	}

	.cbp-so-side img {
		max-width: 100%;
        text-align: center;
	}

    .cbp-so-side-right {
        text-align: center;

    }

    .cbp-so-side-right img {
        float: none

    }

    .cbp-so-side-left {
        text-align: center;
    }

    .cbp-so-side-left img {
        float: none

    }
}



@media screen and (max-width: 1300px) {
    .tamano {
        font-size: 55px;
    }
}

@media screen and (max-width: 1210px) {
    .tamano {
        font-size: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .tamano {
        font-size: 45px;
    }
}

@media screen and (max-width: 950px) {
    .tamano {
        font-size: 40px;
    }
}

@media screen and (max-width: 900px) {
    .tamano {
        font-size: 35px;
    }
}


@media screen and (max-width: 850px) {
    .tamano {
        font-size: 30px;
    }
}

@media screen and (max-width: 650px) {
    .tamano {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .tamano {
        font-size: 20px;
    }

    #presentacion {
        padding: 20px 0px 10px 0px;
    }

    .Bienvenido {
        padding-bottom: 20px;

        h1 {
            font-size: $font-size-pagina * 3.5;
        }
    }

    #nombreEmpresa {
        font-size: $font-size-pagina * 6;
    }

    .copete {
        font-size: $font-size-pagina * 1.8;
    }

    .titulosSeccion {
        font-size: $font-size-pagina * 5;
    }

    .tituloCarrousel {
        margin-top: 80px;
        font-size: $font-size-pagina * 5;
    }

    .subtituloQueHacemos {
        font-size: $font-size-pagina * 3;
    }

    .subtituloTecnologias {
        font-size: $font-size-pagina * 2;
    }

    .copeteTecnologias{
        font-size: $font-size-pagina * 2;
    }

    .separadorEleginos {
        padding: 30px;

        div {
            font-size: $font-size-pagina * 4;
        }

        p {
            font-size: $font-size-pagina * 2;
        }
    }

    .carousel-indicators {
        h5 {
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-height: 850px) {

    #presentacion {
        height: 100vh;
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }
}

@media screen and (max-height: 800px) {

    #presentacion {
        height: 100vh;
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }

    .sectionSlider {
        cursor: pointer;

        a {
            color: #20A0EA;
            position: absolute;
            bottom: 20px;

            div {
                font-size: 30px;
            }

            .icono {
                font-size: 30px;
            }
        }

        #sliderQuienesSomos {
            z-index: 20;

            a {
                bottom: 0px;
            }
        }
    }
}

@media screen and (max-height: 700px) {

    #presentacion {
        height: 100vh;
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }

    .sectionSlider {
        cursor: pointer;

        a {
            color: #20A0EA;
            position: absolute;
            bottom: 10px;

            div {
                font-size: 30px;
            }

            .icono {
                font-size: 30px;
            }
        }

        #sliderQuienesSomos {
            z-index: 20;

            a {
                bottom: -10px;
            }
        }
    }
}

@media screen and (max-height: 600px) {
    #presentacion {
        min-height: 100vh;
    }

    .sectionSlider {
        cursor: pointer;

        a {
            color: #20A0EA;
            position: absolute;
            bottom: 0px;

            div {
                font-size: 20px;
            }

            .icono {
                font-size: 20px;
            }
        }

        #sliderQuienesSomos {
            z-index: 20;

            a {
                bottom: -10px;
            }
        }
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }
}

@media screen and (max-height: 500px) {

    .sectionSlider {
        cursor: pointer;

        a {
            color: #20A0EA;
            position: absolute;
            bottom: 0px;

            div {
                font-size: 20px;
            }

            .icono {
                font-size: 20px;
            }
        }

        #sliderQuienesSomos {
            z-index: 20;

            a {
                bottom: -10px;
            }
        }
    }

    #presentacion {
        height: 100vh;
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }
}


@media screen and (max-height: 400px) {
    #presentacion {
        height: 400px !important;
    }

    .sectionSlider {
        cursor: pointer;

        a {
            color: #20A0EA;
            position: absolute;
            bottom: 0px;

            div {
                font-size: 20px;
            }

            .icono {
                font-size: 20px;
            }
        }

        #sliderQuienesSomos {
            z-index: 20;

            a {
                bottom: -10px;
            }
        }
    }

    .sectionContienePartial {
        min-height: 100vh;
        height: auto;
    }

    .sectionConBackground {
        min-height: 100vh;
        height: auto;
    }
}

.nombreEquipo {
    font-family: $letraPagina;
    font-size: $font-size-pagina * 3;
    font-weight: bold;
    color: #fe5858;
}

.descNosotros {
    margin-top: 25px;
    font-size: $font-size-pagina * 1.8;
    text-align: justify;
    font-family: $letraPagina;

}

.fotoNosotros {
    width: 50%;
    height: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    /*filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    -webkit-transition-delay: 0.1s;
    -webkit-transition-duration: 0.7s;
}

.descripcionPerfil:hover{
    cursor: pointer;

    .fotoNosotros {
        cursor: pointer;

        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: url(grayscale.svg); /* Firefox 4+ 
        filter: gray; /* IE 6-9 */

        border: 15px solid #fe5858;

        -ms-transition-delay: 0.1s;
        -ms-transition-duration: 0.7s;
        -webkit-transition-delay: 0.1s;
        -webkit-transition-duration: 0.7s;
        transition-delay: 0.1s;
        transition-duration: 0.7s;
           
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.logo{
    content: url("/Images/spRosa.png");
    
    width: 37px; 
    height: auto;
    float: left; 
    position: relative; 
    top: 9px; 
    left: 10px; 
    margin-right: 5px;
}

