<div>
    <p class="titulosSeccion">
        ¿Cómo lo hacemos? <br />
    </p>
    <div class="container-fluid">
        <div class="text-left">
            <div class="col-lg-12 text-center">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right iconoComoHacemosItem"></i>
                    Desarrollamos nuestros proyectos a traves de la metodología SCRUM, una de las mejores de las metodologias "agiles" en el desarrollo de Software.
                </span>
            </div>
            
            <div class="col-lg-12 text-center">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right iconoComoHacemosItem" ></i>
                    Nos focalizamos en el analisis detallado y la mejora continua.
                </span>
            </div>

            

            <div class="col-lg-12 text-center">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right iconoComoHacemosItem"></i>
                    Cada cliente es único y por eso, brindamos trato personalizamos para lograr nuestros objetivos.
                </span>
            </div>

            

            <div class="col-lg-12 text-center">
                <span style="font-size: 22px;">
                    <i class="glyphicon glyphicon-chevron-right iconoComoHacemosItem"></i>
                    Comunicación constante con el cliente en todas las etapas del dedsarrollo, optimizando el resultado final.
                </span>
            </div>

        </div>
    </div>
    
    <hr style="width: 75%; text-align: center;"/>

    <div style="margin-top: 30px;">
        <img src="~/Images/1.png" />
        <img src="~/Images/2.png" />
        <img src="~/Images/3.png" />
        <img src="~/Images/4.png" />
    </div>

    <div style="margin-top: 30px; margin-bottom: 50px;">
        <img src="~/Images/5.png" />
        <img src="~/Images/6.png" />
        <img src="~/Images/7.png" />
    </div>

    @*<div id="circulos">
            <p>Siguiendo estos pasos logramos nuestro objetivo</p>
            <div class="circle" id="circles-1"></div>
            <div class="circle" id="circles-2"></div>
            <div class="circle" id="circles-3"></div>
            <div class="circle" id="circles-4"></div>
            <div class="circle" id="circles-5"></div>

        </div>

        <hr />
    *@

</div>

@*<script src="~/Scripts/jquery.appearCircle.js"></script>
    <script src="~/Scripts/circles.js"></script>
    <script>
        $(function () {
            $(".circle").hide();
            appear($("#circulos"));

        });
    </script>*@

