<div class="sectionHome" data-speed="4" data-type="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 cuadroInformacion">
                <div class="col-md-2 col-md-offset-1 pull-left">
                    <i class="tamano fa fa-users circleBorderImg"></i>
                </div>
                <div class="col-md-9">
                    <p>¿Quiénes Somos?</p>
                    <span>
                        Somos una empresa IT de soluciones informáticas con experiencia en el desarrollo de software. <br />
                        Brindamos desarrollo de software a medida, desarrollo de aplicaciones: web o mobile y mantenimiento utilizando las últimas tecnologías.
                    </span>
                </div>
            </div>
            <div class="col-md-6 cuadroInformacion">

                <div class="col-md-2  pull-left">
                    <i class="tamano fa fa-phone-square circleBorderImg"></i>
                </div>
                <div class="col-md-9">
                    <p>Contacto</p>
                    <span>
                        Por cualquier duda o inquietud que tengas, no dudes en enviarnos un <a href="/Version/Inicio#sectionContacto">mail</a> solicitando cualquier tipo de información.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 cuadroInformacion">

                <div class="col-md-2 col-md-offset-1 pull-left">
                    <i class="tamano fa fa-globe circleBorderImg"></i>
                </div>
                <div class="col-md-9">
                    <p>¿Qué hacemos?</p>
                    <span>
                        Brindamos soluciones IT, realizando desarrollo de software a medida, desarrollo y diseño de aplicaciones Web. Además, nuestras aplicaciones son 
                        responsivas a cualquier dispositivo. También te ofrecemos desarrollo de apps mobiles!.
                    </span>
                </div>
            </div>
            <div class="col-md-6 cuadroInformacion">

                <div class="col-md-2  pull-left">
                    <i class="tamano fa fa-wrench circleBorderImg"></i>

                </div>
                <div class="col-md-9">
                    <p>¿Cómo lo hacemos?</p>
                    <span>
                        A través de una serie de pasos, partiendo del analisis y de la recopilación de los requisitos, llegamos al objetivo final!. Creemos que es fundamental
                        la comunicación con el cliente, mostrandole todos los avances para identificar las mejoras y llegar al resultado que realmente desea.
                        
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 cuadroInformacion">

                <div class="col-md-2 col-md-offset-1 pull-left">
                    <i class="tamano fa fa-money circleBorderImg"></i>
                </div>
                <div class="col-md-9">
                    <p>Presupuesto</p>
                    <span>
                        Contactanos y contanos tus ideas, que tipo de desarrollo buscas y nosotros te pasamos el mejor presupuesto del mercado en menos de 12 hs.
                    </span>
                </div>
            </div>
            <div class="col-md-6 cuadroInformacion">
                <div class="col-md-2  pull-left">
                    <i class="tamano fa fa-laptop circleBorderImg"></i>
                </div>
                <div class="col-md-9">
                    <p>Tenologías</p>
                    <span>
                        @*Nos exigimos constantemente para adaptarnos a los cambios en la tecnología y de esta manera brindar siempre el mejor servicio. Manejamos una gran variedad de tecnologías.*@
                        Sabemos que en nuestro rubro las tecnologias cambian constantement, por lo que nos exigimos constantemente
                        para adaptarnos y de esta manera brindar siempre el mejor servicio. Manejamos una gran variedad de tecnologías. Enterate en la seccion de <a href="/Version/Inicio#sectionTecnologias">Tecnologías</a></span>
                </div>
            </div>
        </div>
    </div>
</div>