<div>
    <p class="titulosSeccion">
        <span @*style="color:#DC3E23;"*@>¿Qué hacemos? </span><br />
    </p>

    <div id="tecnicasDesarrollo" class="container-fluid">
        <div class="col-md-2 col-md-offset-1">
            <div class="col-md-12">
                <img src="~/Images/responsiveweb.png" class="imagenQueHacemos" />
                <p class="tecnicaDesarrolloTitulo">Diseños 100% responsive</p>
            </div>

            <div class="col-md-12 tecnicaDesarrolloItem">
                Diseñamos nuestras webs de manera tal que la visualización se vea ordenada y prolija en todos los dispositivos.
            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-12">
                <img src="~/Images/seo.png" class="imagenQueHacemos" />
                <p class="tecnicaDesarrolloTitulo">Posicionamiento en Google</p>
            </div>

            <div class="col-md-12 tecnicaDesarrolloItem">
                a traves del proceso seo (posicionamiento en motores de busqueda), hacemos que tu web sea mas fácil de encontrar en los buscadores.
            </div>
        </div>

        <div class="col-md-2">

            <div class="col-md-12">
                <img src="~/Images/logNegCirculo.png" class="imagenQueHacemos" />
                <p class="tecnicaDesarrolloTitulo">Lógica de Negocio</p>
            </div>
            <div class="col-md-12 tecnicaDesarrolloItem">
                No solo diseñamos las webs, sino que tambien le damos la lógica que necesites para que la gente interactúe con ella.
            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-12">
                <img src="~/Images/adminRedes.png" class="imagenQueHacemos" />
                <p class="tecnicaDesarrolloTitulo">Administración en Redes sociales</p>
            </div>

            <div class="col-md-12 tecnicaDesarrolloItem">

                Gestionamos un conjunto de perfiles para viralizarte en las redes sociales y expandir tu negocio.
            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-12">
                <img src="~/Images/mas.png" class="imagenQueHacemos" />
                <p class="tecnicaDesarrolloTitulo">Además..</p>
            </div>

            <div class="col-md-12 tecnicaDesarrolloItem">
                Desarrollamos diferentes tendencias como "Parallax", "Flat design", "One page design", "Story Telling", etc.
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid informacionAdicionalQueHacemos">
         
        <div class="col-md-4">
            <p class="text-center titulo">Desarrollo y diseño Web</p>
            <ul>
                <li>Desarrollos faciles de autoadministrar para que actualices tu contenido cuando quieras.</li>
                <li>Especial énfasis en que las paginas sean usables, accesibles y responsivas.</li>
                <li>Mejoramos tu posicionamiento: Hacemos que tu pagina sea mas amigable para GOOGLE.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-center titulo">Desarrollo y diseño Mobile</p>
            <ul>
                <li>Desarrollo las apps para plataforma Android.</li>
                <li>Además, nuestros desarrollos responsivos se adaptan a cualquier dispositivo.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="text-center titulo">Desarrollo de software a Medida</p>
            <ul>
                <li>Aplicaiones de escritorio para solucionar tus actividades diarias.</li>
                <li>Desarrollo y analisis de tu negocio para aumentar tu rendimiento.</li>

            </ul>
        </div>
    </div>

    @*

            <div class="tecnicasQueHacemos container-fluid">

            <div class="container-fluid text-center fila">

                <div id="nuestroTrabajo" class="col-md-4 col-md-offset-1">
                    <div class="col-md-12">
                        <span style="text-align: center;">
                            <img src="~/Images/tele.png" />
                        </span>
                    </div>


                    <div class="col-md-12 descripcionTecnicaComoHacemos">
                        Generamos desarrollos faciles de autoadministar para que puedas actualizar tu contenido de manera rapida y fácil.<br />

                        Generamos rapido acceso a tus perfiles en las redes sociales, y te adminsitramos las mismas.<br />

                        Ofrecemos distintas tendencias: "Parallax", "Flat design", "One page design", "Story Telling", etc.
                    </div>

                </div>

                <div id="NuestroTRAbajo2" class="col-md-4 col-md-offset-2">
                    <div class="col-md-12">
                        <span style="text-align: center;">
                            <img src="~/Images/tele.png" />
                        </span>
                    </div>


                    <div class="col-md-12 descripcionTecnicaComoHacemos">
                        Generamos desarrollos faciles de autoadministar para que puedas actualizar tu contenido de manera rapida y fácil.<br />

                        Generamos rapido acceso a tus perfiles en las redes sociales, y te adminsitramos las mismas.<br />

                        Ofrecemos distintas tendencias: "Parallax", "Flat design", "One page design", "Story Telling", etc.
                    </div>

                </div>

            </div>

            <div class="container-fluid text-center fila">

                <div id="nuestroTrabajo" class="col-md-4 col-md-offset-1">
                    <div class="col-md-12">
                        <span style="text-align: center;">
                            <img src="~/Images/tele.png" />
                        </span>
                    </div>


                    <div class="col-md-12 descripcionTecnicaComoHacemos">
                        Realizamos aplicaciones de escritorio para que puedas resolver tus actividades diarias. <br />

                        Programas de administración de stock, calculo de sueldos e impresion de recibos, administración de sitios backend, administración de Usuarios, son los mas comunes.<br />

                        Personalizaciones: aplicaciones de escritorio a medida, con las funcionalidades que desees!
                    </div>

                </div>

                <div id="NuestroTRAbajo2" class="col-md-4 col-md-offset-2">
                    <div class="col-md-12">
                        <span style="text-align: center;">
                            <img src="~/Images/tele.png" />
                        </span>
                    </div>


                    <div class="col-md-12 descripcionTecnicaComoHacemos">
                        Hacemos especial enfasis en que las paginas sean usables y accesibles, para que cualquier usuario pueda comprender y interactuar facilmente con el sitio. <br />

                        Mejoramos tu posicionamiento: Hacemos que tu pagina sea mas amigable para GOOGLE o demas motores de busqueda, incrementando las visitas. <br />
                    </div>

                </div>

            </div>

        </div>*@
</div>

@*<script src="~/Scripts/jquery.appearCircle.js"></script>
    <script src="~/Scripts/circles.js"></script>
    <script>
        $(function () {
            $(".circle").hide();
            appear($("#circulos"));

        });
    </script>*@


