
<p class="titulosSeccion">
    ¿Quiénes somos?
</p>

<div class="container-fluid" style="font-size: 21px; font-style: italic; font-weight: bold; color: black; padding: 0px 30px 10px 30px;">
    Somos es una empresa nueva nacida en 2014, que brinda servicios de desarrollo de software personalizados. 
    Nuestra principal ventaja es que hacemos lo que nos apasiona y por eso trabajamos para superarnos constantemente, de manera proactiva.
    Contamos con una amplia variedad de servicios para ofrecerte, enterate <a href="/version/Inicio#sectionQueHacemos">Que hacemos</a>
</div>

<div class="container-fluid" style="padding: 15px;background-color: #E7E7E7">

    


    <div class="text-center container">
        <div class="col-lg-4 descripcionPerfil">
            <div>

                <div>
                    <img class="img-circle fotoNosotros" src="~/Images/perfil.jpg" alt="Spagnolo, Sergio Nicolás" />
                </div>
                <h3 class="nombreEquipo">Sergio Spagnolo</h3>

                <p class="descNosotros">
                    Sergio ama lo que hace y cree que todo es posible en el mundo de las webs si tiene una taza de café a su lado. Tiene gran experiencia y única en el diseño, el desarrollo y ni hablar en la implementacion de paginas webs. Despues de haber trabajado para importantes empresas en Argentina viajo a traves del mundo expresando todo su amor por el divino arte de la programación.
                </p>
            </div>
        </div>

        <div class="col-lg-4 descripcionPerfil">
            <div>
                <div>
                    <img class="img-circle fotoNosotros" src="http://atfirstsightfilms.com/wp-content/themes/AtFirstSightFilms/images/about-stephengray.jpg" alt="Fuschetto, Leandro" />
                </div>
                <h3 style="color:#15AD9F;">Leandro Fuschetto</h3>

                <p class="descNosotros">
                    Leandro.. ajaja, que poder decir de el?. Un titán. Un genio. Un A-NI-MAL, y te lo separo en silabas porque no es mas que un leon enjaulado que cada vez que lo liberan hace cosas increibles, inimaginable en el mundo del desarrollo de software. Dale una compu y te va a hacer sonreir.
                </p>
            </div>
        </div>

        <div class="col-lg-4 descripcionPerfil">
            <div>
                <div>
                    <img class="img-circle fotoNosotros" src="http://atfirstsightfilms.com/wp-content/themes/AtFirstSightFilms/images/about-stephengray.jpg" alt="Brizuela, Horacio" />
                </div>
                <h3 style="color:#15AD9F;">Horacio Brizuela</h3>

                <p class="descNosotros">
                    Horacio "el pecho" Brizuela. El padrino de la programación - The grandfather of programation. Con toda su naturaleza, austucia, picardia, hace parecer que lo dificil es MUY facil. ¿Ha existido acaso alguien como el? - No, nunca.
                </p>
            </div>
        </div>
    </div>
</div>

@*<br />
<h4>Estamos enfocados en brindar la mejor calidad a nuestros clientes... Grandes o pequeños, nuestro proceso es el mismo.</h4>*@
<div class="container-fluid" style="font-size: 18px; padding: 15px;">
    <div>
        <div class="col-md-4">
            <div>
                <p style="font-size: 19px; font-style: italic; font-weight: bold; color: black;">Misión</p>
                Crecer y consolidarnos como una de las mejores empresas proveedoras de desarrollo de software.
                Comprometidos en todo momento con la alta calidad y mejora continua.
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <p style="font-size: 19px; font-style: italic; font-weight: bold; color: black;">Vision</p>
                Realizar el desarrollo y mantenimineto de software de calidad a nuestros clientes
                logrando la mayor eficacia positble y utilizando las mejores tecnologìas.
            </div>
        </div>

        <div class="col-md-4">
            <div style="text-align: left;">
                <p style="font-size: 19px; font-style: italic; font-weight: bold; color: black; text-align: center;">Valores</p>

                <span style="font-weight: bold;"> Respeto hacia las personas</span>: Valorar a las personas por igual sin ningun tipo de prejuicios. <br />
                <strong> Mejora continua</strong>: Superarnos constantemente tanto en calidad como en servicio.<br />
                <strong> Integridad</strong>: Ser honestos SIEMPRE, sin importa la realidad y/o necesidades.<br />

            </div>
        </div>
    </div>

</div>
@*<div class="container-fluid">
    <p class="subtituloQuienesSomos">
        ¿Quienes somos?
    </p>
    <p>
        Somos es una empresa nueva nacida en 2014, que brinda servicios de desarrollo de software personalizados. <br />
        Nuestra principal ventaja es que hacemos lo que nos apasiona y por eso trabajamos para superarnos constantemente, de manera proactiva.
        Contamos con una amplia variedad de servicios para ofrecerte, enterate <i><a href="/version/Inicio#sectionQueHacemos">Que hacemos</a></i>.
    </p>
</div>
<div class="container-fluid" style="padding: 15px;">
    <div class="col-md-4">
        <p class="TituloCarrouselParte">
            Visión
        </p>
        <p class="cuerpoCarrouselParte">
            Crecer y consolidarnos como una de las mejores empresas proveedoras de desarrollo de software.
            Comprometidos en todo momento con la alta calidad y mejora continua.
        </p>
    </div>
    <div class="col-md-4">
        <p class="TituloCarrouselParte">
            Misión
        </p>
        <p class="cuerpoCarrouselParte">
            Realizar el desarrollo y mantenimineto de software de calidad a nuestros clientes
            logrando la mayor eficacia positble y utilizando las mejores tecnologìas.
        </p>

    </div>
    <div class="col-md-4">
        <p class="TituloCarrouselParte">
            Valores
        </p>
        <p class="cuerpoCarrouselParte">
            -Respeto hacia las personas: Valorar a las personas por igual sin ningun tipo de prejuicios. <br />
            -Mejora continua: Superarnos constantemente tanto en calidad como en servicio.<br />
            -Integridad: Ser honestos SIEMPRE, sin importa la realidad y/o necesidades.<br />
        </p>
    </div>
</div>*@